* {
  margin: 0;
}

body {
  background: linear-gradient(90deg, rgb(0, 0, 255), rgb(216, 46, 12));
  height: 100vh;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tetris {
  background-color: rgb(133, 2, 255);
  padding: 0.5vh;
  border-radius: 0.5vh;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(20, auto);
}

.tetris div {
  height: min(3vh, 7vw);
  width: min(3vh, 7vw);
  background-color: rgba(187, 49, 49, 0.678);
  border-radius: 0.3vh;
  box-shadow: inset 2px 2px 2px rgba(204, 204, 204, 0.407),
  inset -2px -2px 2px rgba(204, 204, 204, 0.274);
}

.tetris .O{
    background-color: rgb(216, 239, 0);
}
