* {
  margin: 0;
}

body {
  background: linear-gradient(90deg, rgb(0, 72, 255), rgb(24, 180, 143));
  height: 100vh;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tetris {
  background: rgb(45, 71, 15);
  padding: 0.5vh;
  border-radius: 0.5vh;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(20, auto);
}

.tetris div {
  height: min(4vh, 7vw);
  width: min(4vh, 7vw);
  background: rgba(1, 132, 20, 0.503);
  border-radius: 0.1vh;
  box-shadow: inset 2px 2px 2px rgb(101, 101, 101),
  inset -2px -2px 2px rgb(122, 121, 121);
}

.tetris .O {
    background: rgb(191, 191, 51);
}
